/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.15;
  font-family: Verdana; /* Changed default font to Verdana */
  overflow-x: hidden;   /* Hid the x-axis scroller so user can not move side to side*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: unset;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }


  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


}

/* All code from now was not in boiler-plate code */

/* Custom Font was initialized */
@font-face {
  font-family: impostographregular;
  src: url("impostograph-regular-webfont.woff");
}

/* Changed h1 font size */
h1{
  font-size: 25px;
  margin-bottom: 0;
}

/* Basic header */
header{
  background-image: url("amongstars.jpeg"); /* Added a Background Image */
  background-repeat: no-repeat;             /* Changed Background Settings to fit page */
  background-attachment: fixed;
  background-size: contain;
  width: 100%;                              /* Changed proportions of header for page */
  height:7%;
  font-family: impostographregular;         /* Imported Custom Font and set settings for page*/
  font-size: 7vw;
  text-align: center;
  color: white;
}

/* This tag is meant to keep links and main together side by side
   We display Split as a table so the other two tags are then presented
   as a table cell (side by side) */
Split {
  min-height: 500vw;/* Sets the size for the total proportions of links and main together so they line up properly */
  width: 100%;
  display: table;
  margin: 0px;
  margin-bottom: 5vw;

}

/* This tag is in the split tag and acts as the left table cell,
   This shows our Dashboard and about us pages which can be
   navigated to with the hyperlinks */
links{
  display: table-cell;/* Basic settings for tag links, anchored text at start so the links don't shift between pages */
  float: none;
  width: 7%;
  height: 100%;
  background: #1D3461;
  color: white;
  text-anchor: start;

}

/*Basic main tag but it is appended to the right side
 of the table as it is part of split on both html pages.
 Has the main portions of both pages.*/
main{
  display: table-cell;
  float: none;
  height: 100%;
  width: 90%;
  padding: 10px 10px 0 100px;
  background-color: #A2B9E2;
}

/* Changed all hyperlink colours to best fits the
   the theme of the page.*/
a:visited {
  color: #C0CFEC;
  text-decoration: none;
}
a:link {
  color: #3864BC;
  text-decoration: none;
}
a:hover {
  color: #EFF3FA;
  text-decoration: none;
}
a:active{
  color: #030A11;
  text-decoration: none;
}

/* Changed the list format for links
   so there aren't any bullets.*/
#no {
  list-style-type: none; /* Remove bullets */
  text-decoration: solid;
  padding: 5%; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* footer boarder */
footer{
  background-color: #091F34;
  position: sticky; /* Keeps footer at the bottom even when scrolled */
  bottom: 0%;
  left: 0;
  width: 100%;
  height:5vw;
  font-family: impostographregular; /* Imported Custom Font */
  font-size: 3vw;
  text-align: center;
  color: white;
}

/* Table Styling */

.table_h{
  background-color: #0A121F;
  color: white;
}

/* Changes all even and odd cells in the table to corresponding colours with theme */
tr:nth-child(even) {
  background-color: #CBE0F6;
}
tr:nth-child(odd) {
  background-color: #BAD5F3;
}

/* Changed p1 to use Custom font */
p1{
  font-family: impostographregular;
  font-size: 1.5vw;
}
